.alarm{
    margin:20px 15px;
    text-align: center;
    background:white;
    border-radius:3px;
    height:50px;
    line-height:50px;
    span{
        margin-right:10px;
        font-weight: bold;
        font-size:13px;
        color:#889497;
        float:left;
        margin-left:15px;
    }
    i{
        float:right;
        margin-top:18px;
        margin-right:15px;
        color:#1abc9c;
        font-size:16px;
    }
}

.result-search{
  margin: 0px 15px;
  .header-result{
      span{
        width:25%;
        background-color:#879395;
        color:#fff;
        font-size:12px;
        font-weight: bold;
        text-align: center;
        height:50px;
        line-height: 50px;
        display: inline-block;
        &:first-child{
            -webkit-border-top-left-radius: 5px;
            -moz-border-radius-topleft: 5px;
            border-top-left-radius: 5px;
        }

        &:last-child{
            -webkit-border-top-right-radius: 5px;
            -moz-border-radius-topright: 5px;
            border-top-right-radius: 5px;
        }
      }
  }  

  ul{
      padding: 0px;
      list-style: none;
    li{
        margin-bottom:15px;
        background-color:#fff;
        overflow: hidden;
        padding-top: 10px;

        &:first-child{
            padding-top: 0px;
        }

        .headerFly{
            padding-bottom: 10px;
            margin-bottom:10px;
            overflow: hidden;
            border-bottom: 1px dashed #d8dcde;
            div{
                width:25%;
                float:left;
                text-align:center;
                color:#889497;
                span{
                    display:block;
                    font-size:12px;
                    margin-top:-5px;
                }
                b{
                    font-size:12px;
                    
                }
            }
        }

        .price-company{
            width:100%;
            display:block;
            color:#889497;
            text-align:center;
            margin-bottom:5px;
            text-transform: uppercase;
            font-size:14px;
            b{
                text-decoration:line-through;
            }
        }

        button{
            background-color: #1abc9c;
            -webkit-box-shadow: 0 3px 0 #15987e;
            box-shadow: 0 3px 0 #15987e;
            color:#fff;
            font-size:16px;
            font-weight: bold;
            display:block;
            border-radius: 5px;
            width:calc(100% - 15px);
            margin:0 auto;
            border:none;
            height:40px;
            margin-bottom:15px;
        }

        .total-desconto{
            color:#f36b6b;
            font-size:12px;
            font-weight: bold;
            width:100%;
            display:block;
            text-align: center;
        }

        .more-information{
            margin-top:15px;
            border-top:1px dashed #d8dcde;
            width:100%;
            height:50px;
            line-height: 50px;
            text-align: center;
            color:#889497;
            font-weight: bold;
            text-transform: uppercase;
            font-size:12px;
            b{
                color:#1abc9c;
            }
        }

      }
  }
}