
.wrapField{
    width: 100%;
}


.field{
    float:left;
	width:100%;
	outline:0px;
	background-color:transparent;
	border:none;
	padding:23px 0px 23px 27px;

	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: #b8b8b8;
	}
	&::-moz-placeholder { /* Firefox 19+ */
		color: #b8b8b8;
	}
	&:-ms-input-placeholder { /* IE 10+ */
		color: #b8b8b8;
	}
	&:-moz-placeholder { /* Firefox 18- */
		color: #b8b8b8;
	}
}

.suggestions{
    border-top-width: 0;
	list-style: none;
	margin-top: 0;
	max-height: 180px;
	overflow-y: auto;
	padding-left: 0;
	width:100%;
	box-shadow: 0 2px 9px 0 rgba(197, 197, 197, 0.5);
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;

	li {
		height:50px;
		line-height:50px;
		padding-left:27px;
		color:#879395;
		background-color:#fff;
		&:hover {
			background-color: #f7f7f7;
			color: #b8b8b8;
			cursor: pointer;
			font-weight: bold;
		}
		  
	}
	.suggestion-active{
		background-color: #f7f7f7;
		color: #b8b8b8;
		cursor: pointer;
		font-weight: bold;
	}
}
