@import "~bootstrap/scss/bootstrap.scss";
header{
    width:100%;
    min-height: 51px;
    background: $white;

    .menu-group{
        &--primary{
            float:left;
            .menu-button{
                width:50px;
                height:50px;
                padding: 0px 15px;
                float:left;
                .line{
                    width:100%;
                    background-color: #1abc9c;
                    height: 3px;
                    margin-bottom: 3px;
                    &:nth-child(2){
                        width: 75%;
                    }
                }
            }

            .menu-logo{
                font-size:18px;
                color:#879396;
                line-height: 50px;
                font-weight: bold;
            }
        }

        &--secundary{
            float:right;
            line-height: 51px;
            padding-right: 15px;
            .menu-timer{
                color:#879396;
                border: 2px solid #f7d791;
                height:35px;
                font-size:12px;
                font-weight: bold;
                padding: 5px 15px;
            }
        }

    }

}