.field-passenger{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: #879395;
    overflow: hidden;
    margin-bottom: 15px;
    label{
        float:left;
        margin-top:5px;
    }

    select{
        width: 50px;
        height: 30px;
        padding: 5px 10px 5px 10px;
        font-size: 12px;
        font-weight: 700;
        border: 1px solid #1abc9c;
        -webkit-box-shadow: 4px 4px 0 hsla(200,7%,91%,.5);
        box-shadow: 4px 4px 0 hsla(200,7%,91%,.5);
        border-radius: 0;
        color: #2d8abd;
        float:right;
        -moz-appearance: none;
        -webkit-appearance: none;
    }

    .arrow-icon{
        top: 0;
        right:0;
        color:#1abc9c;
        position: absolute;
        width: 20px;
        height: 30px;
        font-size: 9px;
        line-height: 30px;
    }
}