.search-form{
    padding: 15px 0 5px;
    background:#fff;
    margin-top:3px;

    #searchForm{
        padding: 0px 15px;
        .wrap-field{
            position:relative;
            margin-bottom: 15px;
            label{
                display: inline-block;
                font-size: 12px;  
                color:#879395;
            }

            input{
                border: 1px solid #d8dcde;
                -webkit-box-shadow: 4px 4px 0 hsla(200,7%,91%,.5);
                box-shadow: 4px 4px 0 hsla(200,7%,91%,.5);
                padding: 15px 40px 15px 15px;
                width: 100%;
                height: 50px;
            }

            .icon-input{
                position: absolute;
                right:0;
                line-height: 50px;
                text-align: center;
                font-size:20px;
                height: 50px;
                width:40px;
                top:31px;
                color:#1abc9c;
            }
        }

        .field-endDate{
            .react-datepicker-popper{
                right:0!important;
                left: initial!important;
                .react-datepicker__triangle{
                    left:inherit;
                    right:50px;
                }
            }
        }

        .wrap-passengers{
            margin-bottom: 15px;
            .title-passengers{
                display: inline-block;
                font-size: 12px;  
                color:#879395;
                margin-bottom:5px;
            }

            .container-passengers{
                border: 1px solid #d8dcde;
                -webkit-box-shadow: 4px 4px 0 hsla(200,7%,91%,.5);
                box-shadow: 4px 4px 0 hsla(200,7%,91%,.5);
                padding: 15px 15px 15px 15px;
                width: 100%;
                height: 50px;

                .wrap-passengers--number{
                    font-size:16px;
                    font-weight: bold;
                    float:left;
                    color:#2d8abd;
                }

                .wrap-passengers--type{
                    margin-left:5px;
                    float:left;
                    color:#879395;
                    span{
                        text-transform: uppercase;
                        font-size:8px;
                        line-height: 10px;
                        font-weight: bold;
                        display: block;
                    }
                }

                .icon-fake-input{
                    float:right;
                    margin-top:3px;
                    color:#1abc9c;
                }
            }

            .select-passengers{
                padding: 20px 15px;
                background-color:#fff;
                border:1px solid #d8dcde;
                border-top:0px;
                -webkit-box-shadow: 4px 4px 0 hsla(200,7%,91%,.5);
                box-shadow: 4px 4px 0 hsla(200,7%,91%,.5);

                .field-cabin{
                    padding-top: 15px;
                    border-top: 1px solid #ccc;
                    margin-top: 15px;
                    label{
                        margin-top:0px;
                        text-transform: none;
                        font-weight: 300;
                    }

                    select{
                        width:100%;
                    }

                    .arrow-icon{
                        top:41px;
                    }
                }
            }
        }


        .button-form{
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            border-radius: 4px;
            cursor: pointer;
            text-transform: none;
            white-space: nowrap;
            font-size: 14px;
            padding: 15px 0;
            color:#fff;
            margin-bottom:15px;
            font-weight: 700;
            width: 100%;
            border: none;
            background-color: #1abc9c;
            -webkit-box-shadow: 0 3px 0 #15987e;
            box-shadow: 0 3px 0 #15987e;
        }
    }
    

}

.resume-search{
    padding: 15px;
    background:#fff;
    margin-top:3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction:column;
    .resume-field{
        i{
            color: #1abc9c;
        }
    }

    .resume-airport{
        font-weight: bold;
        color:#2b82b2;
        font-size:14px;
        padding-right: 5px;
        margin-right: 5px;
        border-right: 1px solid #e0e3e5;
    }

    .resume-data{
        font-size:12px;
        margin-right:5px;
    }

    .resume-cabin{
        margin-left:5px;
        padding-left: 5px;
        border-left: 1px solid #e0e3e5;
        i{
            margin-right:5px;
        }
    }
    
    
}

.wrap-outbound-inbound{
    margin-top:3px;
    overflow: hidden;
    .item{
        background-color: #fff;
        width:50%;
        float:left;
        text-align: center;
        height:50px;
        line-height: 50px;
        color:#879395;
        font-weight: bold;
        font-size:12px;

        &.active{
            border-bottom:3px solid #1abc9c;
        }

        &:first-child{
             border-right: 2px solid #d8dcde;
        }
    }
}


.loading , .error{
    text-align: center;
    padding: 20px 0px;
    margin:100px 15px 0px;
    background-color: #fff;
    span{
        display:block;
        text-align: center;
        font-size:13px;
        color:#879395;
        margin-top:10px;
        font-weight: bold;
        padding: 0px 30px;

        &.title{
            font-size:20px;
        }
        &.msg{
            font-size:12px;
        }
    }

    button{
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        margin-top:15px;
        border-radius: 4px;
        cursor: pointer;
        text-transform: none;
        white-space: nowrap;
        font-size: 14px;
        padding: 10px 0;
        color:#fff;
        margin-bottom:15px;
        font-weight: 700;
        width: 80%;
        border: none;
        background-color: #1abc9c;
        -webkit-box-shadow: 0 3px 0 #15987e;
        box-shadow: 0 3px 0 #15987e;
    }
}

.error{
    margin-top:25px;
}