$body-bg: #edf3f8;

body{
  background-color: #edf3f8!important;
  font-family: 'Montserrat', sans-serif!important;
}

@import "~bootstrap/scss/bootstrap.scss";

.no-padding{
  padding: 0px!important;
}





